/* CUI css styles*/

body{
	font-family: 'Raleway', sans-serif;
    background-color:#f5f5f5;
}
/*
ace-login-form button.login-btn.mat-raised-button.mat-primary{
	color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
}
*/

#loader {
    width: 100px;
    position: absolute;
    top: 45%; left: 45%;
}

h1 { 
    font-size: 30px; 
    position: relative;
    top: 30px;
    left: 40px;
}

h1 .header-color {
    font-size: 18px;
}

.ace-login-form {
    width: auto;
}

.ace-login-form a.ng-tns-c0-0 {
    margin: 10px 0;
}

ace-login-form a.ng-tns-c0-0, 
ace-login-form h3.ng-tns-c0-0 {
    display: none;    
}

.app-name {
    width: 90%;
}

.welcomeMsg {
    font-size: 20px;
    width: 60%;
}

.loginFormLinks {
    font-size: 14px;
}

.login-error {
    width: 80%;
    font-size: 14px;
}